form {
  padding: 1em;
  height: 40em;
  width: 35em;
}

.header {
  width: 100%;
  text-align: start;
}

h3 {
  font-weight: 600;
}

hr {
  width: 100%;
}

.registration-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.account-info {
  width: 100%;
  margin: 1em 0;
  padding: 0.75em;
  background-color: #f5f5f5;
  border-radius: 4px;
  border-left: 3px solid #4CAF50;
}

.account-info p {
  margin: 0.5em 0;
  font-size: 0.95em;
  color: #333;
}

.account-info p:first-child {
  margin-top: 0;
}

.account-info p:last-child {
  margin-bottom: 0;
}

.account-info strong {
  color: #4CAF50;
  font-weight: 600;
}
