form {
  padding: 1em;
}

.header {
  width: 100%;
  text-align: start;
}

h3 {
  font-weight: 600;
}

hr {
  width: 100%;
}

.registration-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
